.portfolio-modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 80%;
}
.portfolio-modal-title {
  text-align: center;
}
.portfolio-modal-info {
  text-align: center;
  margin-top: 20px;
}
.portfolio-modal-value {
  font-weight: bold;
}
