.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.add-coin-modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 60%;
  text-align: center;
  height: 50%;
}
.add-coin-modal-title {
  font-weight: normal;
}
.add-coin-modal-name {
  color: pink;
}
.add-coin-modal-form {
  margin-top: 20px;
  text-align: center;
}
.add-coin-modal-form .ant-form-item-label {
  text-align: center;
}
.ant-form-item-required::before,
.ant-form-item-required::after {
  display: none !important;
}
